{% extends "base.html" %}

{% block content %}

{% load django_bootstrap5 %}

{% load i18n %}


<div class="container wrapper flex-grow-1">
      
      <h1 class="my-4">
        
{% translate 'Delete user' %}

      </h1>
      
<p>{% translate 'Are you sure, that you want delete {{ user.first_name }}{{ user.last_name }}?' %}</p>
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="J2fmH7E9fsmMfucy7N2lQ2LUxqbzVaJwbkkELXcAlbT9CZYP6V2BUxxGz3sTpQ1M">
  <input class="btn btn-danger" type="submit" value="{% translate 'Yes, delete' %}">
</form>


{% endblock %}
